<footer class="footer container-fluid d-flex">
    <div class="footer__socials">
        <img class="footer__social-link" src="assets\images\facebook-f.svg" alt="">
        <img class="footer__social-link" src="assets\images\instagram.svg" alt="">
        <img class="footer__social-link d-none d-lg-inline-block" src="assets\images\linkedin.svg" alt="">
    </div>
    <ul class="footer__links d-flex flex-column flex-lg-row align-items-center p-3 text-center">
        <li>
            <a href="/impressum">Impresszum</a>
        </li>
        <li>
            <a href="#">Adatkezelési tájékoztató</a>

        </li>
    </ul>
    <div class="footer_copyright text-center">
        2021 © Minden jog fenntartva
    </div>
</footer>