<footer class="container footer align-items-center d-flex flex-column">
    <div class="container d-flex justify-content-between">
        <div class="footer__socials">
            <img class="footer__social-link" src="assets\images\facebook-f.svg" alt="">
            <img class="footer__social-link" src="assets\images\instagram.svg" alt="">
            <img class="footer__social-link" src="assets\images\linkedin.svg" alt="">
        </div>
        <ul class="footer__links">
            <li>
                <a href="/impressum">Impresszum</a>
            </li>
            <li>
                <a href="#">Adatkezelési tájékoztató</a>
    
            </li>
        </ul>
    </div>
    <div class="footer_copyright">
        2021 © Minden jog fenntartva
    </div>
   
</footer>