.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--right {
        display: flex;
        flex-direction: row;
    }
    &__menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    &__langs {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
}
