.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__brand {
        font-weight: 700;
        cursor: pointer;
        img {
            height: 70px;
        }
        span {
            font-size: 30px;
            margin-left: -40px;
            margin-top: 10px;
            
        }
    }

    &--right {
        display: flex;
        flex-direction: row;
    }
    &__menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 1.2rem;

    }

    &__langs {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
}
