@use "~rfs/scss" as *;

.wave {
    width: -webkit-fill-available;
    height: auto;
}
section {
    background-color: #002233;
    color: #fff;
    //@include rfs(-8rem, margin-top);
    @include rfs(5rem, padding-top);
    @include rfs(5rem, padding-bottom);
}
.services {
    .service-item {
        // position: relative;
        &__icon {
            width: 100px;
            // position: absolute;
            // left: 0;
            // display: inline-block;
        }
    }

    p {
        font-weight: 300;
    }
}
