@use "~rfs/scss" as *;

.wave {
    width: 100%;
}
section {
    background-color: #002233;
    color: #FFF;
    //@include rfs(-8rem, margin-top);
    @include rfs(5rem, padding-bottom);
  

}
.services {
}
