<section class="portfolio container">
    <div class="h2-subtitle text-center gradient-text">Portfólió</div>
    <h2 class="h2 text-center">Munkáim, amire büszke vagyok 🤗</h2>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="portfolio-item d-flex slide">
                <div class="row align-items-center">
                    <div class="portfolio-item__description col-lg-4 order-1 order-lg-0">
                        <div class="h3-subtitle">ferfikolcsonbe.hu</div>
                        <h3>Ezermester szolgálat</h3>
                        <ul>
                            <li>Weboldal készítés</li>
                            <li>Arculat</li>
                            <li>SEO & Social marketing</li>
                        </ul>
                        <a href="https://ferfikolcsonbe.hu">Weboldal megtekintése ></a>
                    </div>
                    <div class="col order-0 order-lg-1">
                        <img src="assets/images/references/ferfikolcsonbe.png" alt="Férfikölcsönbe.hu">
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
    <img class="portfolio__bg-svg" src="assets\images\dots.svg" alt="">

</section>