@use "~rfs/scss" as *;

.portfolio {
    @include rfs(8rem, padding-top);
    position: relative;
    .h2 {
        margin-bottom: 30px;
    }

    &__bg-svg {
        position: absolute;
        @include rfs(-10rem, right);
        @include rfs(-10rem, bottom);
        z-index: -1;
        width: 20rem;
        opacity: 0.03;

    }

}

.portfolio-item {
    img {
        @include rfs(1rem, padding);
        border-radius: 2rem; 
        max-height: 500px;     
    }

    &__description {
        @include rfs(2rem, padding);

    }
}