<section>
    <div class="container d-flex flex-column">
        <div class="col mx-auto col-lg-8">
            <h1 class="text-center">Adatvédelmi tájékoztató</h1>
            <!-- Bevezető -->
            <h2>1. Bevezető</h2>
            <p>
                Számunkra nagyon fontos, hogy betartsuk az aktuálisan érvényes adatvédelmi szabályozást és törvényeket,
                így az alábbiakban részletesen tárgyaljuk bemutatjuk a hajdurobert.hu és Hajdu Róbert E.V. adatvédelemre
                irányuló lépéseit, és az adatgyűjtéssel kapcsolatos folyamatait.
            </p>
            <p>
                Az adatokat a Hajdu Róbert E.V. kezeli, és ez a vállalkozás felelős a személyes adatok kezeléséért.
            </p>
            <h4>Kapcsolati adatok:</h4>
            <ul>
                <li>
                    <strong>Teljes jogi név: Hajdu Róbert Egyéni Vállakozó</strong>
                </li>
                <li>
                    <strong>E-mail: hello@hajdurobert.hu</strong>
                </li>
                <li>
                    <strong>Székhely: 1188 Budapest, Kisfaludy utca 19.</strong>
                </li>
            </ul>

            <h2>2. Milyen személyes adatokat kezelünk és milyen okkal?</h2>
            <p>A személyes adatok azok, amik egyértelműen lehetővé teszik egy egyén pontos azonosítását.</p>
            <p>A hajdurobert.hu oldalon az alábbi személyes adatokat kezeljük, a jogalap pontos megjelölésével:</p>
            <h4>Kommunikációs adatok</h4>
            <p>Ide tartozik bármilyen üzenet, amit a weboldalon keresztül, e-mailben, közösségi média üzenetben, vagy
                bármilyen kommunikációs formában juttatsz el hozzánk.</p>
            <p>Ezeket az adatokat azért dolgozzuk fel és tartjuk meg, hogy a hibabejelentéseket teljesíteni tudjuk, és
                hogy esetleges jogi igények esetén döntési alapot szolgáltassanak.</p>
            <p>A jogalapunk ennek a feldolgozására a felhasználó igazolható érdeklődése a tevékenységünk felé, ami
                megnyilvánul a nekünk címzett üzenetekben. </p>
            <h4>Felhasználói adatok</h4>
            <p>Amibe beletartoznak a weboldal használata során keletkező adatok, amik lehetővé teszik az oldal technikai
                működését, hogy az oldal biztonságát megőrizzük, hogy mentéseket tároljunk a felhasználók
                tevékenységéről, és hogy mindig a lehető legrelevánsabb tartalomhoz férj hozzá.</p>
            <p>Az adatok feldolgozásának jogalapja a felhasználó egyértelmű érdeklődése a tevékenységünk felé, aminek a
                biztosításához és az oldal technikai működéséhez ezeknek a tárolása szükséges.</p>
            <h4>Technikai adatok</h4>
            <p>Amibe beletartoznak az oldal használata során keletkezett adatok, mint az IP cím, a bejelentkezési infók,
                böngészőadatok, az egyes oldalak látogatási ideje, oldalmegtekintések és navigációs utak, az oldalak
                látogatásának száma és időpontja, időzónák, és a készülék adatai, amivel megtekinted az oldalt. </p>
            <p>Az adatok forrása az analitikai szoftverünk.</p>
            <p>Ezeket az adatokat azért dolgozzuk fel, hogy kielemezzük a felhasználók szokásait az oldalon, megőrizzük
                az oldalunk biztonságos működését, és megértsük az egyes marketingdöntéseink hasznosságát.</p>
            <p>Az adatok feldolgozásának jogalapja a felhasználó egyértelmű érdeklődése a tevékenységünk felé, ami
                lehetővé teszi a számunkra, hogy a biztonsági elvárásoknak megfelelően feldolgozzuk ezeket az adatokat,
                és az üzlet növelésére felhasználjuk a hatásosabb működés érdekében.
            </p>
            <h4>Marketing adatok</h4>
            <p>Amibe beletartoznak a látogató preferenciái, hogy milyen marketingtartalmat fogad tőlünk szívesen. Ezeket az adatokat azért dolgozzuk fel, hogy lehetővé tegyük nyereményjátékokon való részvételt, és azokhoz a termékeinkhez/szolgáltatásainkhoz kapcsolódó reklámot küldjünk, ami felé a felhasználó érdeklődést fejezett ki.</p>
            <p>Az adatok feldolgozásának jogalapja a felhasználó egyértelmű érdeklődése a tevékenységünk felé, ami lehetővé teszi a számunkra, hogy a biztonsági elvárásoknak megfelelően feldolgozzuk ezeket az adatokat, és az üzlet növelésére felhasználjuk a hatásosabb működés érdekében.</p>
            <p>A gyűjtött adatokat időnként felhasználhatjuk olyan célokra, mint célzott, releváns hirdetések biztosítása a Facebook™ platformon, illetve különböző dinamikus hirdetési felületeken, és mérjük a hirdetések hatásos működését.</p>
<p>Az adatok feldolgozásának jogalapja a felhasználó egyértelmű érdeklődése a tevékenységünk felé, ami lehetővé teszi a számunkra, hogy a biztonsági elvárásoknak megfelelően feldolgozzuk ezeket az adatokat, és az üzlet növelésére felhasználjuk a hatásosabb működés érdekében.</p>
            <p>A tevékenységünk során nem gyűjtünk olyan érzékeny adatokat, mint etnicitás, vallási szemlélet, szexuális élet és orientáció, politikai vélemények és szakszervezeti tagság, vagy egészségügyi háttér, és genetikai vagy biometrikai információk.            </p>
            <h2>3. Hogyan gyűjtjük az adatokat?</h2>
            <p>Személyes adatokat gyűjthetünk olyan módon, hogy a felhasználó direkten biztosítja a számunkra (például egy rendelés feladásával, vagy egy üzenet küldésével)</p>
            <p>Továbbá bizonyos adatokat automatikusan kerülnek gyűjtésre az oldal használata során, például ú.n. “cookie”-kkal és hasonló technológiákkal. Ezek csak a felhasználó hozzájárulásának megadása után lépnek működésbe.            </p>
            <p>Bizonyos adatokat külső partnerektől fogadunk, mint például analitikai szolgáltatóktól, mint a Google (EU-n kívüli partner), hirdetési hálózatoktól, mint a Facebook™ (EU-n kívüli partner)</p>
            <h4>Az adatvédelemmel kapcsolatos gyakorlati lépéseink</h4>
            <p>Hajdu Róbert E.V. számára rendkívül fontos a felhasználók adatainak védelme, és a hatályos szabályozásnak való megfelelés. Ezért az oldalon végzett adatvédelmi hatásvizsgálat után listát készítettünk a gyűjtött adatokról, azoknak a szükségességéről és jogalapjáról, és törvényi megfelelőségéről.</p>
        </div>
    </div>

</section>