
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="mt-5 text-center">Impresszum</h1>
                <h2>Üzemeltető</h2>
                <ul>
                    <li>
                        <span>Szolgáltató neve:&nbsp;</span>Hajdu Róbert E.V.
                    </li>
                    <li>
                        <span>Szolgáltató székhelye, telephelye:&nbsp;</span>*** 
                    </li>
                    <li>
                        <span>E-mail:&nbsp;</span>hello@hajdurobert.hu
                    </li>
                    <li>
                        <span>Adószám:&nbsp;</span>**
                    </li>
            
                </ul>
        
                <h2>Tárhely szolgáltató</h2>
                <ul>
                    <li>
                        <span>Név:&nbsp;</span>Netlify Inc.
                    </li>
                    <li>
                        <span>Székhely:&nbsp;</span>610 22nd St #315, San Francisco
                    </li>
                    <li>
                        <span>Levelezési cím:&nbsp;</span>610 22nd St #315, San Francisco
                    </li>
                    <li>
                        <span>E-mail:&nbsp;</span>support@netlify.com
                    </li>
                </ul>
            </div>
            
    
        </div>
       
    </div>
</section>