<div class="container">
    <app-step [title]="'Kapcsolatfelvétel, igényfelmérés'" [number]="1">
        A folyamat első lépése az elképzeléseid minél pontosabb megismerése és az elvárásaid pontosítása. Itt minden
        olyan
        kérdést átbeszélünk, ami szükséges ahhoz, hogy minél pontosabb ajánlatot tudjak adni számodra és technológiailag
        is
        kiválasszuk a számodra legjobb és legkedvezőbb megoldást.
    </app-step>
    <app-step [title]="'Árajánlat küldés'" [number]="2">
        Ezt követően összeállítom a részletes árajánlatot és elküldöm neked e-mailben, PDF dokumentum formájában. Az
        elkészült ajánlattal kapcsolatban az esetleges kérdéseidet alaposan átbeszéljük, ha szükséges, akkor módosítunk
        az
        igényeken és az árajánlaton is.
    </app-step>
    <app-step [title]="'Szerződés megkötése'" [number]="3">
        Az árajánlat elfogadása után elkészítem számodra a szerződést amely kitér a garanciális feltételekre, a GDPR
        szabályokra és a teljesítés részleteire. Itt minden esetben a mindkét fél számára kedvező feltételekre
        törekszem.
    </app-step>
    <app-step [title]="'Honlapra szánt tartalmak küldése, megosztása'" [number]="4">
        Itt kezdődik csak el a fejlesztési munka java része. Egy e-mailben összefoglalom mindazon dolgokat, amelyekre
        szükségem lesz a honlap megtervezéséhez. Természetesen ebben is segítséget nyújtok, amennyiben nincsen konkrét
        elképzelés.
    </app-step>
    <app-step [title]="'Az oldal drótvázának megtervezése'" [number]="5">
        Megmutatom, hogy fog kinézni az oldalad egy drótváz terven keresztül. Ha van design, ami alapján szeretnéd hogy
        dolgozzak, akkor azt is szükséges elküldened. Ha nincs, akkor egyedi megjelenést tervezek weboldaladnak.
    </app-step>
    <app-step [title]="'Weboldal lefejlesztése'" [number]="6">
        Elkészítem működő weboldaladat, feltöltjük tartalommal, majd elérhetővé tesszük, ezzel előkészítve a következő
        lépéshez.
    </app-step>
    <app-step [title]="'A végeredményt egyeztetése, tesztelése és finomítása'" [number]="7">
        A már elérhető oldalt együtt átnézzük, kipróbálod és jelzed, ha esetleg szeretnél módosítani bármelyik elemén.
        Én
        természetesen ezt követően elvégzem a kért módosításokat.
    </app-step>
    <app-step [title]="'Oldal használatának bemutatása'" [number]="8">
        Részletesen bemutatom az oldal használatát és szerkesztését, majd segítek elsajátítani azt.

    </app-step>
    <app-step [title]="'A weboldal karbantartása és támogatás'" [number]="9">
        A biztonság és technológiai fejlődés fontos a weboldaladnak is, így a fejlesztés után is igény szerint
        rendszeres
        karbantartást biztosítok.
    </app-step>

</div>