/* You can add global styles to this file, and also import other style files */
@use "~rfs/scss" as *;
@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

@import "styles/base/base";
@import "styles/base/bootstrap";
@import "styles/base/typography";

@import "styles/components/button";

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@font-face {
    font-family: "Poppins";
    src: local("Poppins") format("truetype");
}

a {
    color: #333;
    &:hover {
        color: #05445e;
    }
}
