<section class="hero container">
    <div class="row align-items-center">
        <div class="col-lg">
            <h1 class="h1">Valami frappáns. Valami ütős.</h1>
            <p class="hero__paragraph d-none d-lg-block">
                Szia! Hajdu Róbert vagyok. Kreatív megoldásaimmal segítek a vállalkozásodnak megjelenni az online térben.
            </p>
            <a href="#contact" class="button scroll-to d-none d-lg-inline-block">Dolgozzunk együtt</a>
        </div>
        <div class="col-lg-5 position-relative">
            <img class="hero__image" src="assets\images\illustration.svg" alt="">
        </div>
    </div>
    <div class="d-lg-none pb-5">
        <p class="hero__paragraph">                Szia! Hajdu Róbert vagyok. Kreatív megoldásaimmal segítek a vállalkozásodnak megjelenni az online térben.
        </p>
            <a href="#contact" class="button scroll-to mb-3">Dolgozzunk együtt</a>

        </div>
</section>