<section class="hero container">
    <img class="hero__bg-svg" src="assets\images\dots.svg" alt="">

    <div class="row align-items-center">
        <div class="col-lg">
            <h1 class="h1">Modern weboldalak, <br>ütős megoldásokkal</h1>
            <p class="hero__paragraph d-none d-lg-block ">
                Szia! Hajdu Róbert vagyok. Kreatív módszerekkel segítek a vállalkozásodnak megjelenni az online
                térben.<br>
                Honlapkészítés, webes alkalmazás fejlesztés esetén keress bizalommal!
            </p>
            <a href="#contact" class="button scroll-to d-none d-lg-inline-block">Dolgozzunk együtt</a>
        </div>
        <div class="col-lg-5">
            <img class="hero__image" src="assets\images\illustration.svg" alt="">
        </div>
    </div>
    <div class="d-lg-none pb-5 d-flex flex-column align-items-center">
        <p class="hero__paragraph text-left">
            Szia! Hajdu Róbert vagyok. Kreatív módszerekkel segítek a vállalkozásodnak megjelenni az online
            térben.<br>
            Honlapkészítés, webes alkalmazás fejlesztés esetén keress bizalommal!
        </p>
        <a href="#contact" class="text-center button scroll-to mb-3">Dolgozzunk együtt</a>

    </div>
</section>