@use "~rfs/scss" as *;
@import "../../../styles/abstracts/variables";

.hero {
    @include rfs(1rem, margin-top);

    &__bg-svg {
        position: absolute;
        @include rfs(10rem, left);
        z-index: -1;
        width: 20rem;
        opacity: 0.03;

    }

    .h1 {
        margin-bottom: 30px;
    }
    &__paragraph {
        @include rfs(1.3rem, font-size);
        @include rfs(2rem, margin-bottom);
        margin-bottom: 30px;
        line-height: 160%;
    }

    &__image {
        @include rfs(40rem, height);
        @include rfs(5rem, padding);
    }
}