@use "~rfs/scss" as *;

.hero {
    @include rfs(1rem, margin-top);
    .h1 {
        margin-bottom: 30px;
    }
    &__paragraph {
        @include rfs(1.3rem, font-size);
        @include rfs(2rem, margin-bottom);
        margin-bottom: 30px;
        line-height: 160%;
    }

    img {
        @include rfs(35rem, height);
    }
}