<section id="contact" class="p-5">
    <div class="container">
        <div class="h2-subtitle text-center">Írj nekem</div>
        <h2 class="h2 text-center">Kapcsolat</h2>
        <form
        name="contact-form" 
        class="contact-form d-flex flex-column form"
        action="success-submit"

        >
    
            <input type="hidden" name="form-name" value="contact-form">
    
            <div class="col-lg-6 col-md-10 mx-auto">
                <div class="form-group">
                    <label for="name" class="form-label">Név*</label>
                    <input type="text" name="name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="service" class="form-label">Miben segíthetek?</label>
                    <select id="service" name="service" class="form-select">
                        <option value="Weboldal- vagy alkalmazásfejlesztés">Weboldal- vagy alkalmazásfejlesztés</option>
                        <option value="Tanácsadás">Tanácsadás</option>
                        <option value="Karbantartás">Karbantartás</option>
                        <option value="Egyéb">Egyéb</option>
                    </select>
    
                </div>
                <div class="form-group">
                    <label for="message" class="form-label">Üzenet*</label>
                    <textarea name="message" class="form-control" row="5">
                    </textarea>
                </div>
                <div class="form-action d-flex align-items-center flex-column">
                    <button (click)="lel()" class="form__submit-button">Elküldöm</button>
        
                </div>
    
            </div>
        </form>
    </div>
    
</section>
