section {
    background-color: #f8f8f8;
}
.form {
    
    //padding: 3rem 8rem;
    .form-label {
        padding-top: 1rem;
    }
    .form-control, .form-select {
        border: 2px solid black;
    }
    &__submit-button {
        margin-top: 1rem;
        border: 0;
        background: none;
        color: #473bf0;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;

        &:hover:not(:disabled) {
            color: #9b9ece;
            &::after {
                content: '>'
            }
        }

        &:disabled {
            color: grey;
            cursor: default;
        }
    }
}