@import "../abstracts/mixins";

/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// html {
//     //font-size: 1rem;
//     font-size: 62.5%; /* default: 16px */
    
//     @include respond('large') {
//         font-size: 62.5%;
//     }
    
//     @include respond('medium') {
//         font-size: 56.25%;
//     }

//     @include respond('small') {
//         font-size: 50%;
//     }




// }
