@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    color: $color-black;
}

.h1 {
    font-weight: 700;
    @include font-size(4rem);
}

.h2 {
    font-weight: 600;
    @include font-size(3rem);

    &--white {
        color: white;
    }
}

.h2-subtitle {
    color: #473bf0;
    font-weight: 600;
    text-transform: uppercase;
    @include font-size(1.3rem);
    letter-spacing: .2rem;
}

.h3-subtitle {
    color: #473bf0;
    font-weight: 600;
    text-transform: uppercase;
    @include font-size(1rem);
}